@import 'styles/variables.scss';
@import 'styles/mixins.scss';
@import 'styles/breakpoints.scss';

.container {
    color: white;
    background-color: $colorMain;

    h3 {
        margin: 0;
        font-size: 22px;
        line-height: 22px;

        svg {
            position: relative;
            top: 2px;
        }
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    display: flex;
    flex-wrap: nowrap;
    padding: 25px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // @include min-sm {
    //     display: block;
    //     max-width: 300px;
    // }

    .element {
        flex-basis: 14%;
        text-align: center;
        margin: 0 25px;

        @include min-sm {
            text-align: left;
        }
    }

}
