$breakpoint-sm: 500px !default;
$breakpoint-md: 769px !default;
$breakpoint-lg: 1025px !default;
$breakpoint-xl: 1280px !default;
$breakpoint-xxl: 1800px !default;

@mixin min-sm() {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin min-md() {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin min-lg() {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin min-xl() {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin min-xxl() {
  @media (min-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin max-sm() {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin max-md() {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin max-lg() {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin max-xl() {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
