@import 'styles/breakpoints';

.container {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 220px;

    @media (max-width: 320px) {
        height: 190px;
    }

    @media (min-width: 376px) and (max-width: 415px) {
        height: 250px;
    }

    @include min-md {
        height: 300px;
    }

    @include min-lg {
        height: 520px;
    }

    @include min-xl {
        height: 650px;
    }

    @include min-xxl {
        height: 700px;
    }
}

.info {
    display: flex;
    padding: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    flex-grow: 1;
    flex-basis: 33%;
    display: flex;
    align-items: flex-end;
}

.jamrozy {
    background: url('./assets/jamrozy.png') no-repeat bottom center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.kabala {
    background: url('./assets/kabala.png') no-repeat bottom center;
    background-size: contain;
    height: 90%;
    width: 100%;

    @include max-sm {
        height:78%;
    }
}

.logo {
    background: url('./assets/logo.png') no-repeat center center;
    background-size: contain;
    position: relative;
    left: -10px;

    @include max-sm {
        left: auto;
        top: 30px;
    }

    width: 80%;
    height: 80%;
    max-width: 250px;
    margin: 0 auto;
    align-self: center;
    max-height: 200px;
}
